.d-block.w-100{
  object-fit: cover;
  margin-top: 1.5rem;
  height: 300px;
  width: 500px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.mainBox{
  width: 600px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  background-color: rgba(240, 248, 255, 0.877);
  border-radius: 15px;
}

body{
  text-align: center;
}