{% extends "base.html" %}
{% block main %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div id="trierBox">
  <label for="hairColor" id = "trier">Trier Par</label>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/Height">Taille</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/Weight">Poids</a>
      </li>
      <li class="nav-item dropdown">
       <form method="POST" class="form-inline my-2 my-lg-0", action="{{ url_for('hairColor')}}">
        <label for="hairColor" id ="couleurCheveuxLabel">Couleur de cheveux</label>
        <select class="form-select" aria-label="Default select example" name="hairColorChoice">
          <option value="Blond">Blond</option>
          <option value="Brun">Brun</option>
          <option value="Roux">Roux</option>
          <option value="Noir">Noir</option>
          <option value="Chauve">Chauve</option>
          <option value="Fantaisie">Fantaisie</option>
        </select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Trier par</button>
      </li>
        </form>
        <li class="nav-item dropdown">
          <form method="POST" class="form-inline my-2 my-lg-0", action="{{ url_for('origin')}}">
           <label for="hairColor">Nationnalité</label>
           <select class="form-select" aria-label="Default select example" name="originChoice">
             <option value="Française">Française</option>
             <option value="Américaine">Américaine</option>
             <option value="Africaine">Africaine</option>
             <option value="Asiatique">Asiatique</option>
             <option value="Mexicaine">Mexicaine</option>
             <option value="Russe">Russe</option>
             <option value="Italienne">Italienne</option>
             <option value="Arabe">Arabe</option>
             <option value="Inconnu">Inconnu</option>
           </select>
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Trier par</button>
           </form>
      </li>
    </ul>
  </div>
  <form method="POST" class="form-inline my-2 my-lg-0" action="{{ url_for('recherche') }}" id = "searchBarBox">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="recherche" id="SearchBarTop">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
  </div>
</nav>

<h1 class="littleTitle">{{ title }}</h1>

<section class="tuile">
    <div class="row">
        {% if current_user.is_authenticated %}
        {% for star in stars %}
        <div class="col-sm-2 col-md-4 col-lg-3" id="boitePerso">
            <div class="card mb-4 shadow-sm">
                <img class="card-img mx-auto mt-4 pp" src="{{ url_for('static', filename='images/'+star.starImg) }}" alt ="{{ star.starName }}"/>
                <div class="card-body">
                    {% if current_user.userName == star.starUserName or current_user.userName == 'admin' %}
                    <a href="/editModifier/{{star.starId}}"> Modifier {{ star.starPrenom }} {{ star.starNom }} </a>
                    {% endif %}
                    <p>Nom : {{ star.starNom }}</p>
                    <p>Prenom : {{ star.starPrenom }}</p>
                    <p>Date de naissance : {{ star.starDateNaiss }}</p>
                    <p>Couleur de cheveux : {{ star.starHair }}</p>
                    <p>Taille : {{ star.starHeight }}m</p>
                    <p>Poids : {{ star.starWeight }}kg</p>
                    <p>Nationnalité : {{ star.starOrigin }}</p>
                    <small>Envie de te battre ?</small>
                    <a href="/" class="btn btn-primary">
                        Se Battre
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        
    </div>
</section>

{% endblock %}