{% extends "base.html" %}
{% block main %}
<h1>Salut mon pote</h1>

<section class="bite">
    <div class="row">
        {% for star in stars %}
        <div class="col-sm-2 col-md-4 col-lg-3">
            <div class="card mb-4 shadow-sm">
                <img class="card-img mx-auto mt-4" src="{{ url_for('static', filename='images/'+star.starImg) }}" alt ="{{ star.starName }}"/>
                <div class="card-body">
                    <a href="/"> Menu principale </a>
                    <p>Nom : { star.starName }}</p>
                    <p>Prenom : {{ star.starLastName }}</p>
                    <a href="/" class="btn btn-primary">
                        Acheter
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</section>

{% endblock %}