{% extends "base.html" %}
{% block main %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Filtre</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/Size">Taille <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Heigh">Poids</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/hairColor" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Couleur de cheveux
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disable" href="/Safe">Safe Mode</a>
        </li>
      </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </nav>


<h1>Liste des catcheurs du monde</h1>

<section class="tuile">
    <div class="row">
        {% for star in stars %}
        <div class="col-sm-2 col-md-4 col-lg-3">
            <div class="card mb-4 shadow-sm">
                <img class="card-img mx-auto mt-4" src="{{ url_for('static', filename='images/'+star.starImg) }}" alt ="{{ star.starName }}"/>
                <div class="card-body">
                    <a href="/editModifier/{{star.starId}}"> Modifier {{ star.starPrenom }} {{ star.starNom }} </a>
                    <p>Nom : {{ star.starNom }}</p>
                    <p>Prenom : {{ star.starPrenom }}</p>
                    <p>Date de naissance : {{ star.starDateNaiss }}</p>
                    <p>Couleur de cheveux : {{ star.starHair }}</p>
                    <p>Taille : {{ star.starSize }}m</p>
                    <p>Poids : {{ star.starHeigh }}kg</p>
                    <p>Nationnalité : {{ star.starOrigin }}</p>
                    <small>Envie de te battre ?</small>
                    <a href="/" class="btn btn-primary">
                        Se Battre
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</section>

{% endblock %}