<!doctype html>
<html lang="fr">
  <head>
  	<title>Login 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../static/login.css">

	</head>
  
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Catcheur Album</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="../static/images/the-rock-.jpg" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="../static/images/Cena.jpg" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="../static/images/mcintyre-rumble.jpg" alt="Third slide">
                              </div>
                            </div>
                          </div>
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Se connecter</h3>
			      		</div>
			      	</div>
							<form action="#" class="signin-form">
			      		<div class="form-group mt-3">
                  {{ form.username(size=50, class_="form-control")}}
			      			<label class="form-control-placeholder" for="username">Pseudo</label>
			      		</div>
		            <div class="form-group">
                  {{ form.password(size=50, class_="form-control")}}
		              <label class="form-control-placeholder" for="password">Mot de passe</label>
		            </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3" href="/all/">Connexion</button>
		            </div>
		            <div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
									</div>
		            </div>
		          </form>
		          <p class="text-center">Vous n'êtes pas membre? <a href="{{ url_for('register') }}">Créer un compte</a></p>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/main.js"></script>

	</body>
</html>

