{% extends "base.html" %}
{% block main %}
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../static/edit/editAjouter.css">
</head>
  
<h1>Edit author Ajouter</h1>
<form role="form" method="POST" action="">
  <aside>
  <section>
  <ul>
    <li><label for="prenom">Prénom: </label>
    <input type="text" id="prenom" placeholder="Jewelz" name="prenom" required  
    >
    <label>*</label>
  </li>
  <br>
  <li><label for="nom">Nom: </label>
    <input type="text" id="nom" placeholder="Blu" name="nom" required  
    >
    <label>*</label>
  </li>
    <br>
    <br>
  <li>
  <label for ="nationalite">Nationalité: </label>
    <select name="nationalite" id="nationalite" required>
        <option value="Inconnue">Inconnue</option>
        <option value="Americain">Americain</option>
        <option value="Africaine">Africaine</option>
        <option value="Asiatique">Asiatique</option>
        <option value="Mexicain">Mexicain</option>
        <option value="Russe">Russe</option>
        <option value="Francaise">Française</option>
        <option value="Italienne">Italienne</option>
    </select>
    </li>
    <br>
    <br>
    <li><label for="illustration">Illustration: </label>
    <input type="file"
    name="illustration" id="illustration"></li>
    <br>
  </ul>
</section>
<section>
  <ul>
    <li><label for="taille">Taille: </label>
    <input type="double" id="taille" name="taille" 
    >
  </li>
  <br>
  <li><label for="poid">Poid: </label>
    <input type="double" id="nom"  name="poid" 
    >
  </li>
    <br>
  <li>
  <label for ="nationalite">Nationalité: </label>
    </li>
    <br>
    <li><label for="hair_color">Couleur de cheveux: </label>
      <input type="double" id="hair_color"  name="hair_color" 
      >
    </li>
    <br>
  </ul>
</section>
<input class="btn btn-default" type="submit" value="Enregistrer">
</aside>
</form>
{% endblock %}