{% extends "base.html" %}
{% block main %}
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/edit/editModifier.css">
</head>
  
<h1 class="littleTitle">Modifier {{ star.starPrenom }} {{ star.starNom }}</h1>


<form enctype="multipart/form-data" method="POST" action="{{ url_for('editStar', id=id) }}">
  <article id="main">
  <section>
    <div class="form-row">
      </div>
      <div class="col-md-4 mb-3">
        <fieldset class="oui">
          {{ formEdit.prenom.label }}
          {{ formEdit.prenom(size=20, placeholder="Dwayne") }}
        </fieldset>
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <fieldset class="oui">
          {{ formEdit.nom.label }}
          {{ formEdit.nom(size=20, placeholder="Johnson") }}
        </fieldset>
      <div class="valid-tooltip">
        Looks good!
      </div>
      <div class="col-md-4 mb-3">
        <fieldset class="oui">
          {{ formEdit.dateNaiss.label }}
          {{ formEdit.dateNaiss }}
        </fieldset>
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <fieldset class="oui">
          {{ formEdit.origin.label }}
          {{ formEdit.origin }}
        </fieldset>
      </div>
      </div>
      </section>

      <section id="deuxieme">
        <div class="otherSide">
              <div class="col-md-3 mb-3">
                <fieldset class="oui">
                  {{ formEdit.img.label }}
                  {{ formEdit.img }}
                </fieldset>
                <div class="invalid-tooltip">
                  Please provide a valid zip.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <fieldset class="oui">
                  {{ formEdit.height.label }}
                  {{ formEdit.height(size=20, placeholder="1,96")}}
                </fieldset>
                <div class="invalid-tooltip">
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <fieldset class="oui">
                  {{ formEdit.weight.label }}
                  {{ formEdit.weight(size=20, placeholder="118") }}
                </fieldset>
                <div class="invalid-tooltip">
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <fieldset class="oui">
                  {{ formEdit.hairColor.label }}
                  {{ formEdit.hairColor }}
                </fieldset>
              </div>
        </div>
        <div class="imageSide">
          <img class="image" src="{{ url_for('static', filename='images/'+star.starImg) }}" alt ="{{ star.starName }}"/>
        </div>
      </section>
    </div>
  </div>
  </article>
  <div id = "button">
    {{ formEdit.submitRemove(onclick="popup()") }}
    {{ formEdit.submit(onclick="edit()") }}
  </div>

</form>

<script type="text/javascript" charset="utf-8">
  function popup(){
    confirm("Etes vous sur de vouloir supprimé cette catcheuse ?");
  }
  function edit(){
    confirm("Modifé avec succès");
  }
</script>
{% endblock %}