{% extends "base.html" %}
{% block main %}
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/edit/editAjouter.css">
</head>
  
<h1 class = "littleTitle">Ajouter une star à la liste</h1>

<form method="POST" action="{{ url_for('editAjouter') }}">
  <article id="main">
  <section>
      <div class="col-md-4 mb-3">
        <fieldset class="oui">
          {{ form.prenom.label }}
          {{ form.prenom(size=20) }}
        </fieldset>
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <fieldset class="oui">
          {{ form.nom.label }}
          {{ form.nom(size=20) }}
        </fieldset>
      <div class="valid-tooltip">
        Looks good!
      </div>
      <div class="col-md-4 mb-3">
        <fieldset class="oui">
          {{ form.dateNaiss.label }}
          {{ form.dateNaiss }}
        </fieldset>
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <fieldset class="oui">
          {{ form.origin.label }}
          {{ form.origin }}
        </fieldset>
      </div>
      </div>
  </section>

  <section id = "deuxieme">
    <div class="col-md-3 mb-3">
      <fieldset class="oui">
        {{ form.height.label }}
        {{ form.height}}
      </fieldset>
      <div class="invalid-tooltip">
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <fieldset class="oui">
        {{ form.weight.label }}
        {{ form.weight }}
      </fieldset>
      <div class="invalid-tooltip">
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <fieldset class="oui">
        {{ form.img.label }}
        {{ form.img }} 
      </fieldset>
      <div class="invalid-tooltip">
        Please provide a valid zip.
      </div>
      </div>
    <div class="col-md-3 mb-3">
      <fieldset class="oui">
        {{ form.hairColor.label }}
        {{ form.hairColor }}
      </fieldset>
    </div>
  </div>
</section>
  </article>
  <div id = "button">
  {{ form.submit }}
</div>
</form>
{% endblock %}